@model CrudBootstrap.Models.UserInfoModel

@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<link href="~/Content/AppCSS/css/bootstrap.min.css" rel="stylesheet" />

<link href="~/Content/AppCSS/css/metisMenu.min.css" rel="stylesheet" />

<link href="~/Content/AppCSS/css/startmin.css" rel="stylesheet" />

<link href="~/Content/AppCSS/css/font-awesome.min.css" rel="stylesheet" />
<style>
    body {
        // background: linear-gradient(red, white, green);
      // background-image: url('../../c.jpg');
    }
    .error{
        color:red;
    }.container{
         color:green;
     }
     img{
         height:200px;
         width:300px;
         margin-left:525px;
         margin-top:20px;
     }
     
</style>
<body>
    @*<img src="~/c.jpg" alt="image">*@

    <div class="container" >
        <div class="row" style="margin-top:0px">
            <div class="col-md-4 col-md-offset-4" >
                <div class="login-panel panel panel-default">
                    <div class="panel-heading" >
                        <h3 class="panel-title"> SignIn Here</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                        {
            <fieldset>
                <div class="error">@TempData["Invalid"]</div>

                <div class="form-group">
                    @Html.TextBoxFor(m => m.email, new { @class = "form-control", @placeholder = "Enter email" })
                    @Html.ValidationMessageFor(m => m.email, "", new { @class = "error" })
                </div>
                <div class="error">@TempData["wrong"]</div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.password, new { @class = "form-control", @placeholder = "Enter password" })
                    @Html.ValidationMessageFor(m => m.password, "", new { @class = "error" })
                </div>
                <div class="checkbox">
                    <label>
                        <input name="remember" type="checkbox" required="required" value="Remember Me">Remember Me
                    </label>
                </div>
                <!-- Change this to a button or input when using this as a form -->
                <button type="submit" class="btn btn-success">Sign in</button>
            </fieldset>
                            <br />
                         <span>Not a member?</span>
                      <a href="@Url.Action("UserReg","Home")">Signup now</a>}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <center style="font-weight:800">
        <p style="color:#0094ff; font-size:130px">Chetu</p>
        <p style="font-size:24px; margin-top:-30px;">World Class Software Solution</p>
    </center>

</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")